#origFilePath{
    display: none;
}

.nav > li{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav > li>a{
    font-size: 22px;
    font-weight: bold;
}

.nav > li>a:focus, .nav> li > a:hover{
    background-color: aqua;
}

.nav > li > a::first-letter{
    color: #ee6c4d;
}

.card{
    width: 300px;
}

.card>img{
    width: 200px;
    height: 200px;
    align-self: center;
}

#showPetCard{
    width: 100%;
}
#showPetCard>img{
    display: block;
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: auto;
}

.card-deck{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;

}

.spinner-border{
    display: none;
    margin: auto;
}
#indexSpinner{
    display:block;
    margin: auto;
}

#createUpdatePetForm{
    display: none;
}
.btnShowPet{
    width: 100px;
}
.btn-buy-pet{
    width: 100px;
}

.btnRudPet{
    width: 200px;
}
.card-body{
    text-align: center;
}
#showPetCard{
    display: block;
}

#displayPetImage{
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#displayPetContainer{
    display: flex;
    justify-content: center;
}

#btnResetFrom{
    display: block;
}
#btnFromSubmit{
    display: block;
}
#btnDeletePet{
    display: none;
}

.pet-show{
    color: black;
}
.pet-form{
    color: black;
}
.index-pet-card{   
    font-size: 16px;
}